.separator {
  background: var(--color-border);
  flex-shrink: 0;
}

.separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.separator[data-orientation="vertical"] {
  width: 1px;
  align-self: stretch;
}
